body {
    background-image: url("/pub/img/bgcolor.png");
    background-position: left top;
    background-repeat: repeat;
}

.prettyprint {
    padding: 10px;
}

.container dl dt {
    font-family: 'Quicksand', sans-serif;
}

.container dl dd {
    font-family: 'Catamaran', sans-serif;
}

ul.tree li {
    list-style-type: none;
    position: relative;
}

ul.tree li ul {
    display: none;
}

ul.tree li.open > ul {
    display: block;
}

ul.tree li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul.tree li p {
    color: black;
    text-decoration: none;
    margin: 0px;
}

ul.tree li a:before {
    height: 1em;
    padding: 0 .1em;
    font-size: .8em;
    display: block;
    position: absolute;
    left: -1.3em;
    top: .2em;
}

ul.tree li > a:not(:last-child):before {
    content: '+';
}

ul.tree li.open > a:not(:last-child):before {
    content: '-';
}

@media print {
    .container {
        width: 100%;
        max-width: 100%;
    }
}